@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #1f2833 !important;
}

button {
    background-color: #0b0c10;
    color: #45a29e;
}

h3 {
    color: #66fcf1;
}

h1 {
    color: #b4fdf9;
}

p {
    color: #45a29e;
}

div#categories {
    color: #45a29e;
}

div#selection {
    color: #45a29e;
}

textarea {
    resize: none;
    width: 180px;
    height: 20px;
}

.topnav {
    background-color: #0b0c10;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #66fcf1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #778899;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #778899;
    color: white;
}